/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "RobotoRegular";
}
.header {
  background-image: url(../img/header-bg.png);
  background-color: #000;
  /*min-height: 700px;*/
}
.navbar.navbar-default {
  background: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
  background-position-x: center;
  background-position-y: center;
}
.navbar-brand {
  padding-top: 7px;
}
.navbar-brand img {
  max-height: 40px;
}
.big-track {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.big-track img {
  max-width: 150px;
}
.text-center {
  text-align: center;
}
.main-header {
  font-weight: normal;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: "RobotoBold";
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .main-header {
    font-size: 30px;
  }  
}
.btn-sign-up {
  background: #90a900;
  color: #fff;
  padding-top: 4px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 17px;
  font-family: "RobotoLight";
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 30px;
  display: inline-block;
}
.btn-sign-up:hover,
.btn-sign-up:active,
.btn-sign-up:focus {
  color: #fff;
}
.btn-sign-up:hover {
  background: #a6c300;
}
.sub-header {
  max-width: 540px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin-bottom: 30px;
  font-family: "RobotoLight";
  margin-right: auto;
  margin-left: auto;
}
