/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Regular.eot');
  src: url('../fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinDisplayPro-Regular.woff') format('woff'), url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster.eot');
  src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'), url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  font-family: "RobotoRegular";
}
.form-control {
  font-weight: normal;
}
.form-control[type=text] {
  height: 40px;
}
.btn {
  line-height: 1.5;
}
.navbar-form {
  margin-top: 16px;
}
.navbar-form .form-control {
  margin-bottom: 6px;
}
.navbar-form .form-control {
  margin-right: 5px;
}
.navbar-form .form-group {
  margin-bottom: 2px;
}
.to-top {
  vertical-align: top;
}
a.primary-link {
  text-decoration: none !important;
}
a.primary-link,
a.primary-link:active,
a.primary-link:focus,
a.primary-link:visited {
  color: #93c54b;
  border-bottom: 1px solid #c1de98;
}
a.primary-link:hover {
  color: #aad172;
  border-bottom: 1px solid transparent;
}
a.grey-link {
  text-decoration: none !important;
}
a.grey-link span,
a.grey-link:active span,
a.grey-link:focus span,
a.grey-link:visited span {
  border-bottom: 1px solid #7f7e71;
  color: #98978b;
}
a.grey-link:hover span {
  border-bottom: 1px solid transparent;
}
.font-small {
  font-size: 13px;
}
.navbar-form-link {
  display: block;
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-brand img {
  margin-top: -3px;
}
.navbar-bottom {
  margin-bottom: 4px;
  margin-top: -10px;
}
.navbar-bottom .nav > li > a {
  padding: 0px;
  margin-right: 15px;
  font-size: 12px;
}
.navbar-bottom .nav.navbar-nav {
  float: none;
}
.navbar-collapse.collapse {
  height: 70px !important;
}
.navbar-default {
  background-color: rgba(62, 63, 58, 0.9);
}
.header {
  background: url(/img/header-bg-1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-color: #000;
  padding-top: 180px;
  color: #fff;
}
.header .main-header {
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 5px;
}
.header .main-track {
  max-width: 150px;
  opacity: .6;
  margin-bottom: 20px;
}
.header .sub-header {
  font-size: 20px;
}
.header .header-main-info {
  text-align: center;
}
/*# sourceMappingURL=landing.css.map */