@using Bearlog.Web.Models
@using Bearlog.Web.Services
@model Bearlog.Web.Models.AccountModel


    <h4>Вход на сайт</h4>
    <hr/>
    
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputLogin" class="col-lg-1 control-label">Логин</label>
        <div class="col-lg-2">
            <input id="inputLogin" class="form-control">
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-1 control-label">Пароль</label>
        <div class="col-lg-2">
            <input type="password" id="inputPassword" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-1 col-lg-offset-1">
            <button type="submit" class="btn btn-success btn-block">Войти</button>
        </div>
        
        <div class="col-lg-1">
            <a href="/Account/Register" class="btn btn-link btn-block" target="_blank">Зарегистрироваться</a>
        </div>

    </div>

</form>
